RewriteEngine On


RewriteRule ^home$ index.php [L]
RewriteRule ^admin/login$ views/admin/Login.php [L]
RewriteRule ^Auth/Register$ views/client/register.php [L]
RewriteRule ^Auth/Login$ views/client/login.php [L]
RewriteRule ^Auth/ForgotPassword$ views/client/forgot-password.php [L]
RewriteRule ^Auth/ChangePassword$ views/client/change-password.php [L]
RewriteRule ^Auth/Profile$ views/client/profile.php [L]

RewriteRule ^service/fake-link$ views/client/fake-link.php [L]
RewriteRule ^service/fake-link/create$ views/client/create-fake-link.php [L]
RewriteRule ^service/fake-link/edit/([A-Za-z0-9-]+) views/client/edit-fake-link.php?id=$1 [L]
RewriteRule ^service/fake-link/view/([A-Za-z0-9-]+) views/client/view-fake-link.php?id=$1 [L]
RewriteRule ^service/fake-link/domain/([A-Za-z0-9-]+) views/client/domain-fake-link.php?id=$1 [L]

RewriteRule ^service/campaign$ views/client/campaign.php [L]
RewriteRule ^service/campaign/create$ views/client/create-campaign.php [L]
RewriteRule ^service/campaign/edit/([A-Za-z0-9-]+) views/client/edit-campaign.php?id=$1 [L]
RewriteRule ^service/campaign/view/([A-Za-z0-9-]+) views/client/view-campaign.php?id=$1 [L]
RewriteRule ^service/shorten-link$ views/client/shortenlink.php [L]
RewriteRule ^package$ views/client/package.php [L]
RewriteRule ^recharge$ views/client/nap-tien.php [L]


RewriteRule ^w/([A-Za-z0-9-]+) index.php?url=$1 [L]
RewriteRule ^e/([A-Za-z0-9-]+) index.php?url=$1 [L]
RewriteRule ^t/([A-Za-z0-9-]+) index.php?url=$1 [L]
RewriteRule ^y/([A-Za-z0-9-]+) index.php?url=$1 [L]
RewriteRule ^u/([A-Za-z0-9-]+) index.php?url=$1 [L]
RewriteRule ^i/([A-Za-z0-9-]+) index.php?url=$1 [L]
RewriteRule ^o/([A-Za-z0-9-]+) index.php?url=$1 [L]
RewriteRule ^p/([A-Za-z0-9-]+) index.php?url=$1 [L]
RewriteRule ^a/([A-Za-z0-9-]+) index.php?url=$1 [L]
RewriteRule ^s/([A-Za-z0-9-]+) index.php?url=$1 [L]
RewriteRule ^d/([A-Za-z0-9-]+) index.php?url=$1 [L]
RewriteRule ^f/([A-Za-z0-9-]+) index.php?url=$1 [L]
RewriteRule ^g/([A-Za-z0-9-]+) index.php?url=$1 [L]
RewriteRule ^h/([A-Za-z0-9-]+) index.php?url=$1 [L]
RewriteRule ^j/([A-Za-z0-9-]+) index.php?url=$1 [L]
RewriteRule ^k/([A-Za-z0-9-]+) index.php?url=$1 [L]
RewriteRule ^l/([A-Za-z0-9-]+) index.php?url=$1 [L]
RewriteRule ^z/([A-Za-z0-9-]+) index.php?url=$1 [L]
RewriteRule ^x/([A-Za-z0-9-]+) index.php?url=$1 [L]
RewriteRule ^c/([A-Za-z0-9-]+) index.php?url=$1 [L]
RewriteRule ^v/([A-Za-z0-9-]+) index.php?url=$1 [L]
RewriteRule ^b/([A-Za-z0-9-]+) index.php?url=$1 [L]
RewriteRule ^n/([A-Za-z0-9-]+) index.php?url=$1 [L]
RewriteRule ^m/([A-Za-z0-9-]+) index.php?url=$1 [L]
RewriteRule ^([A-Za-z0-9-]+)$ index.php?url=$1 [L]